
<h2>Index EJS !</h2>
<h2><%= message %> </h2>


<div class="container">
    <div class="row">
        <% for(var i=0; i<symbols.length; i++) {%> 
            <div class="col-sm-3 toUpperCase"><%= symbols[i] %> </div>
        <% } %> 
    </div>
</div>
