<html>
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="stylesheet" href="/public/css/bootstrap.css">
    <body>
        <nav class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#my-navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class = "navbar-brand" href="/">Challenge Project</a>
            </div>
            <div class="collapse navbar-collapse navbar-center" id = "my-navbar-collapse">
                <ul class="nav navbar-nav"></ul>
                <li class="active"><a href="#">Home</a>></li>
                <li class="active"><a href="#">Login</a>></li>
            </div>
        
        </nav>

        <h1>EJS LAYOUT</h1>
        <%- body%>
        <b>Footer</b>
        <script type="text/javascript" src="/public/js/jquery-3.6.3.min.js"></script>
        <script type="text/javascript" src="/public/js/bootstrap.min.js"></script>
    </body>
</html>